# 1. Reading CSV file

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('C:\\Users\\snehu\\OneDrive\\Desktop\\git_projects\\Learn_ml\\DAY3_Data_reading\\netflix_revenue_updated.csv')

In [4]:
df.sample(5)

,Date,Global Revenue,UCAN Streaming Revenue,EMEA Streaming Revenue,LATM Streaming Revenue,APAC Streaming Revenue,UCAN Members,EMEA Members,LATM Members,APAC Members,UCAN ARPU,EMEA ARPU,LATM ARPU,APAC ARPU,Netflix Streaming Memberships
2,30-09-2019,5244905000,2621250000,1428040000,741434000,382304000,67114000,47355000,29380000,14485000,13.08,10.40,8.63,9.29,158334000
12,31-03-2022,7867767000,3350424000,2561831000,998948000,916754000,74579000,73733000,39610000,33719000,14.91,11.56,8.37,9.21,221641000
0,31-03-2019,4520992000,2256851000,1233379000,630472000,319602000,66633000,42542000,27547000,12141000,11.45,10.23,7.84,9.37,148863000
14,30-09-2022,7925589000,3601565000,2375814000,1023945000,889037000,73387000,73534000,39936000,36228000,16.37,10.81,8.58,8.34,223085000
1,30-06-2019,4923116000,2501199000,1319087000,677136000,349494000,66501000,44229000,27890000,12942000,12.52,10.13,8.14,9.29,151562000